/* 共通 */
body{
    background-color: rgb(240, 240, 240);
}
.border{
    display: inline-block;
    text-align: center;
    margin: 20px 20px;
    padding: 20px 20px;
    font-size: 20px;
    border: solid 2px;
    border-radius: 10px;
    background-color: white;
}

/* index.php */
/* ヘッダー */
.header{
    width: 100%;
    
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.header h1{
    margin:0 auto;
    text-align: center;
    font-style: italic;
    color: whitesmoke;
    line-height: 410px;
    font-size: 80px;
}
/* メニュ－ */
.menu_container{
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
}
.menu_contents {
    background-color: white;
}
.menu_image {
    width: 400px;
}
.menu_container select {
    font-size: 15px;
}


/* confirm.php */
.confirm_container{
    text-align: center;
    margin-top: 50px;
}

/* complete.php */
.complete {
    text-align: center;
}

/* view.php */
.view_image {
    width: 700px;
}
.view {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
    width: 900px;
    margin: 0 auto;
}
.words {
    width: 500px;
    margin: 0 auto;
}
.review {
    padding: 50px;
}
.return_button {
    padding-top: 10px;
    padding-bottom: 50px;
}
.user_icon {
    padding-left: 20px;
}
.user_icon img{
    width: 40px;
    border-radius: 20px;
}
.user_icon p {
    font-size: 10px;
}
.review_contents {
    display: flex;
    padding: 0;
    height: 70px;
    line-height: 60px;
    
}